<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      
      <!-- <div class="cover-contents">
        <h1>素敵なモノと出会う場所</h1>
        <a href="" class="btn btn-success btn-lg">モノリストを始める</a>
      </div> --!>
      
    </div>
  </div>
<% end %>

<!-- ここからwrapper -->
<div id="wrapper">
  <!--ここからメイン-->
  <div id="main">
    <p>妊娠・出産・育児をサポートするタスクガイドです。<br>
    妊娠中や出産、育児のステージ毎に必要な手続きなどの情報をまとめました。</p>
  </div>
  
  <div id="navi">
    <ul class="inline-block">
      <li><a href="/articles/pregnant">妊娠タスクリスト</a></li>
      <li><a href="/articles/birth">出産タスクリスト</a></li>
      <li><a href="/articles/child_care">育児タスクリスト</a></li>
    </ul>
  </div>
</div>  
  <!--メインここまで-->
  <!--ここからsns-->
    <!-- <div class="sns">
      <nav id="sns_menu">
        <ul class="sns-inline-block">
          <li>
            <a href="https://line.me/ja/" target="_blank" rel="nofollow"><img src="images/LINE_APP_typeA.png" alt="line" title="line"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank" rel="nofollow"><img src="images/f-ogo_RGB_HEX-58.png" alt="facebook" title="facebook"></a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=ja" target="_blank" rel="nofollow"><img src="images/Twitter_Logo_Blue.png" alt="twitter" title="twitter"></a>
          </li>
        </ul>
      </nav>
    </div> -->
    <div class="ninja_onebutton">
<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_e218b3a51cba6e5fcf263f2409e09686)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='\/\/omt.shinobi.jp\/b\/e218b3a51cba6e5fcf263f2409e09686'><\/sc"+"ript>");
}else{
    window.NINJA_CO_JP_ONETAG_BUTTON_e218b3a51cba6e5fcf263f2409e09686.ONETAGButton_Load();}
})(document);
//]]>
</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
</div>

<!--snsここまで-->

<!--wrapperはここまで-->

<!--ここからフッター-->
<footer>
  <div id="footer_navi">
    <ul>
      <li><a href="">お問い合わせ</a></li>
      <li><%= link_to '管理者のページ', login_path %></li>
      <li><a href="/">トップページへ</a></li>
    </ul>
  </div>
  <small>&copy; 2018 妊娠・出産・育児タスクリスト</small>
</footer>
<!--フッターここまで-->

<!-- ログイン後のトップページ -->
<% if logged_in? %>
  <!-- <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <li><%= link_to 'User', users_path %></li>
  <li><%= link_to 'My profile', user_path(current_user) %></li> -->

  
<% end %>  
<!-- ログイン後のトップページここまで-->
