@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
a {
  color: #333;
}

a:visited {
  color: #333;
}

footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #ffc0cb;
}

.navbar-header {
  margin-top: 20px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}


/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  background: url("/images/baby_hand2.jpg") center center no-repeat;
  background-size: cover;
}

/*
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}
*/

#main p {
  text-align: center;
  font-size: 15px;
  margin-top: 0;
  line-height: 1.6;
  margin-bottom: 50px;
}

#nav {
  width: 100%;
  padding-bottom: 100px;
}


#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav ul li {
  display: inline-block;
  width: 200px;
  text-align: center;
  
}

#nav ul li a {
  display: block;
  padding: 10px 16px;
  background-color: #f0573e;
  color: #00000;
  text-decoration: none;
  transition: background-color .2s liner;
}

.inline-block {
	text-align: center;
	padding-right: 60px;
	border-bottom: 2px solid #CCC;
}

.inline-block li {
	display: inline-block;
	width: 250px;
  text-align: center;
  padding-bottom: 80px;
}

.inline-block li a {
  display: block;
  padding: 10px 16px;
  background-color: #ffffff;
  color: #00000;
  text-decoration: none;
  transition: background-color .2s liner;
  border: solid 1px #ffc0cb;
  border-radius: 5px;
  -webkit-border-radius: 5px;/* for Safari and Chrome 対応*/
  -moz-border-radius: 5px;/* for Firefox 対応*/
}

.inline-block li a:hover {
  background: #ffc0cb;
  color: white;
} 

.ninja_onebutton {
  padding-top: 60px;
  padding-bottom: 20px;
  width: 130px;
  margin: 0 auto;
  /* border-top: 2px solid #CCC; */
}

#sns_menu {
  border-bottom: 2px solid #CCC;
}

#sns_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sns_menu ul li {
  display: inline-block;
  width: 80px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sns-inline-block {
	text-align: center;
}
.sns-inline-block li {
	display: inline-block;
}


footer #footer_navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  background-color: #fffff;
  text-align: center;
  /* padding-right: 60px; */
  border-top: 2px solid #CCC;
  padding-top: 30px;
}

footer #footer_navi {
  background-color: #f0f0f0;
  padding: 10px 0;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_navi li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
    display: inline-block;
    padding: 8px 0;
    color: #00000;
}

