<footer>
  <div id="footer_navi">
    <ul>
      <li><a href="">お問い合わせ</a></li>
      <li><a href="">管理者のページ</a></li>
      <li><a href="/">トップページへ</a></li>
    </ul>
  </div>
  <small>&copy; 2018 妊娠・出産・育児タスクリスト</small>
</footer>